.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  padding: 15px 12px;
  box-sizing: border-box;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
  /* width: 60px; */
  /* border-right: solid 1px rgb(95, 89, 89); */
}
.side-menu main {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.side-menu svg {
  color: rgb(85, 81, 81);
}
